<section class="section box">
	<div class="carrousel"></div>
</section>
<section class="section">
	<div class="container">
		<div id="grid" class="grid">
			<% movies.forEach((movie) => { %>
			<div class="col" onclick="location.href='/grid/movie/<%= movie.slug %>'">
				<img class="thumbnail" src="<%= movie.thumbnail %>" alt="<%= movie.name %>" />

				<p class="title"><%= movie.name %></p>
				<p class="description"><%= movie.summary %></p>
				<a class="release" href="/grid/movie/<%= movie.slug %>">More -></a>
			</div>
			<% }); %>
		</div>
	</div>
</section>
