<section class="section">
	<div class="container">
		<div class="carousel" data-speed="slow">
			<div class="carousel__inner">
				<% movies.forEach((movie) => { %>
				<div class="carousel__content">
					<img class="carousel__image" src="<%= movie.thumbnail %>" alt="<%= movie.name %>" />
				</div>
				<% }); %>
			</div>
		</div>
	</div>
</section>
<section class="section box">
	<div class="container">
		<div id="grid" class="grid-4">
			<% movies.forEach((movie) => { %>
			<div class="col card" onclick="location.href='/grid/movie/<%= movie.slug %>'">
				<img class="thumbnail" src="<%= movie.thumbnail %>" alt="<%= movie.name %>" />

				<p class="title"><%= movie.name %></p>
				<p class="description"><%= movie.summary %></p>
				<a class="release" href="/grid/movie/<%= movie.slug %>">More -></a>
			</div>
			<% }); %>
		</div>
	</div>
</section>

<script src="/js/carousel.js" defer></script>
