<section class="section">
	<div class="container">
		<div class="divide movie">
			<img src="<%= movie.thumbnail %>" alt="<%= movie.name %>" />
			<div class="content">
				<div class="info">
					<h2><%= movie.name %></h2>
					<p class="released">Uitgebracht jaar: <%= movie.release %></p>

					<% for (let i = 0; i < movie.description.split(".").length; i++) { %>
					<p>
						<%= movie.description.split(".")[i] + (i != movie.description.split(".").length - 1 ? '.': '')
						%>
					</p>

					<% } %>
				</div>
				<div class="actors">
					<h3>Acteur(s)</h3>
					<div class="grid-4">
						<% actors.forEach((actor)=>{ %>
						<div class="col">
							<a href="/grid/actor/<%= actor.slug %>">
								<img width="200px" src="<%= actor.thumbnail %>" alt="" />
								<p><%- actor.name %></p>
							</a>
						</div>
						<% }) %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
