<section class="section">
	<div class="container">
		<div class="divide movie">
			<img src="<%= movie.thumbnail %>" alt="<%= movie.name %>" />
			<div class="content">
				<h2><%= movie.name %></h2>
				<p class="released">Uitgebracht jaar: <%= movie.release %></p>

				<% for (let i = 0; i < movie.description.split(".").length; i++) { %>
				<p><%= movie.description.split(".")[i] + '.' %></p>
				<% } %>
			</div>
		</div>
	</div>
</section>
