<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<% if (route === "grid"){ %>
		<link rel="stylesheet" href="/css/style.css" />
		<% } else { %>
		<link rel="stylesheet" href="/css/tailwindcss/output.css" />
		<link rel="stylesheet" href="/css/carousel.css" />
		<% } %>
		<script src="https://kit.fontawesome.com/f0dee8595d.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<%- include(`../(${route})/partials/header.ejs`) %>
		<main><%- body %></main>
		<%- include(`../(${route})/partials/footer.ejs`) %>
	</body>
	<%- script %>
</html>
